<% provide(:title, "About") %>
<header class="page-header">
  <h1 class="text-center">About Us</h1>
</header>
<article class="">
  <p class="text-center">This is a basic example Rails WebApp. So.. Placeholders! Meditation flannel 3 wolf moon, normcore vice letterpress irony tumblr. Leggings occupy pitchfork chia twee photo booth shabby chic thundercats, before they sold out fashion axe letterpress. Distillery whatever shoreditch literally tumblr, DIY fanny pack post-ironic truffaut cronut leggings taxidermy. Locavore literally try-hard hella drinking vinegar vinyl. Asymmetrical wolf fanny pack raw denim, drinking vinegar microdosing single-origin coffee selfies banjo pabst. Fanny pack fixie tousled, slow-carb swag migas ramps cold-pressed everyday carry beard pabst. Meditation franzen humblebrag paleo pug.</p>
</article>
