<div class="row">
  <div col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2>
    <h1 class="text-center">Welcome to my Sample Store!</h1>
    <p class="text-center">Welcome! The date and time is <%= Time.now %></p>
    <%= image_tag("placeholder.png", class: "img-responsive") %>
  </div>
</div>
