// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-box {
  textarea, input {
    color: #323232;
  }
}

.product-layout {
  color: #010609;
  background-color: #FFFEFE;
  border: 2px solid #000;
  border-radius: 15px;
}

/* Typography */
