// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products-box {
  color: #e7e7e7;
  /* Gradient from http://uigradients.com */
  background: #4B79A1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.products-box textarea,
.products-box input { color: #323232; }

.products-box table { width: 100%; }
