<% provide(:title, "Products") %>
<div class="container-fluid products-box text-center">
  <p class="text-center" id="notice"><%= notice %></p>
  <h1 class="text-center">Available Products</h1>
  <%= render @products %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= link_to 'New Product', new_product_path %>
  </div>
</div>
